#aa-event-summary {
  min-height: 4em;
  width: 100%;
}
#aa-event-summary-help,
#aa-event-civicrm-help,
#aa-event-time-help {
  margin-bottom: 1px;
}

#aa-event-start-mm,
#aa-event-end-mm {
  vertical-align: bottom;
}
